    {{ partial "head.html" . }}
	<body>
    {{ partial "nav.html" . }}
    {{ partial "profile.html" . }}

    <section id="wrapper" class="home">
      <div class="about"><h3>About Me</h3></div>
        <div class="about">
          <p>
          {{ .Content }}
        </p>
        </div>
        {{ if .Params.image }}
        <div id="about-img">
          <img  src="{{ $.Site.BaseURL }}{{ .Params.image }}"/>
        </div>
          {{ end }}

    </div>

        {{ partial "footer.html" . }}
    </section>

    {{ partial "js.html" . }}
    </body>
</html>
